$ref-scale: 15px;
.Key {
  position: relative;
  border-left: solid 1px black;
}

.White {
  z-index: 0;
  background-color: white;
  width: $ref-scale * 3;
  height: $ref-scale * 9;
}

.Black {
  z-index: 1;
  background-color: black;
  width: $ref-scale * 2;
  height: $ref-scale * 6;
}

.White .Click {
  background-color: lightcoral;
  transform-origin: center top;
  transform: scaleX(90%);
  transform: scaleY(90%);
}

.Black .Click {
  background-color: crimson;
  transform-origin: center top;
  transform: scaleX(90%);
  transform: scaleY(90%);
}

.C-sharp {
  left: $ref-scale * 2;
}

.D-sharp {
  left: $ref-scale * 3;
}

.F-sharp {
  left: $ref-scale * 7;
}

.G-sharp {
  left: $ref-scale * 8;
}

.A-sharp {
  left: $ref-scale * 9;
}
